<!-- Modal -->
<div class="modal fade" id="edit-company-{{ company.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-company-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-company-label">{{ 'dodaj firmę'|trans|capitalize }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ render(
                controller('App\\Controller\\Admin\\Company\\CompanyController::editCompanyForm', { 'id': company.id})
            ) }}
        </div>
    </div>
</div>