{% extends 'admin/base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin-application') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-application') }}
{% endblock %}

{% block body %}
<div class="content admin-application">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Latest posts</h4>
                    </div>
                    <div class="card-body">
                        <div class="profile__comments">
                            <div class="profile-comments__item">
                                <div class="profile-comments__controls">
                                    <a href="#"><i class="fa fa-share-square-o"></i></a>
                                    <a href="#"><i class="fa fa-edit"></i></a>
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                </div>
                                <div class="profile-comments__avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                                </div>
                                <div class="profile-comments__body">
                                    <h5 class="profile-comments__sender">
                                        Richard Roe <small>2 hours ago</small>
                                    </h5>
                                    <div class="profile-comments__content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, corporis. Voluptatibus odio perspiciatis non quisquam provident, quasi eaque officia.
                                    </div>
                                </div>
                            </div>
                            <div class="profile-comments__item">
                                <div class="profile-comments__controls">
                                    <a href="#"><i class="fa fa-share-square-o"></i></a>
                                    <a href="#"><i class="fa fa-edit"></i></a>
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                </div>
                                <div class="profile-comments__avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="...">
                                </div>
                                <div class="profile-comments__body">
                                    <h5 class="profile-comments__sender">
                                        Richard Roe <small>5 hours ago</small>
                                    </h5>
                                    <div class="profile-comments__content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero itaque dolor laboriosam dolores magnam mollitia, voluptatibus inventore accusamus illo.
                                    </div>
                                </div>
                            </div>
                            <div class="profile-comments__item">
                                <div class="profile-comments__controls">
                                    <a href="#"><i class="fa fa-share-square-o"></i></a>
                                    <a href="#"><i class="fa fa-edit"></i></a>
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                </div>
                                <div class="profile-comments__avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
                                </div>
                                <div class="profile-comments__body">
                                    <h5 class="profile-comments__sender">
                                        Richard Roe <small>1 day ago</small>
                                    </h5>
                                    <div class="profile-comments__content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, esse, magni aliquam quisquam modi delectus veritatis est ut culpa minus repellendus.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}