@mixin icon-background ($icon-url){
	background-image : url($icon-url);
		
}

@mixin icon-shape ($size, $padding, $border-radius) {
	height: $size;
	width: $size;
	padding: $padding;
	border-radius: $border-radius;
	display: inline-table;

}

.icon-link {
	color: #7c7e80;
	padding: 0px 10px;
	&:hover {
		color: #343434;
	}
}