<div class="sidebar" data-image="{{ asset('build/sidebar-5.jpg') }}">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Candidate Manager
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/admin/candidates">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Candidates</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="admin/offers">
                    <i class="nc-icon nc-notes"></i>
                    <p>Job offers</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/admin/mailer">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Mailer</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/admin/applications">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>New applications</p>
                </a>
            </li>
        </ul>
    </div>
</div>